
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  /* height: 400px; */
  margin: 50px;
  width: 250px;
  border: 1px solid;
  padding: 10px;
}

.heading {
  background-color: #d5d0d0;
  padding: 3px 10px 5px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.car-store {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin: 15px 0 ;
}

.car-store h5 {
  background-color: rgb(58, 113, 115);
  color: white;
  padding: 5px 10px 7px;
  font-size: 15px;
  border-radius: 5px;
}

.car-store button {
  cursor: pointer;
  padding: 5px 5px;
  border: 0.1px solid rgb(205, 202, 202) ;
}

.add-newcar-btn {
  cursor: pointer;
  padding: 5px;
  font-size: 15px;
  border: 0.1px solid rgb(205, 202, 202) ;
  margin: 10px 0;
}

.car-input {
  padding: 5px 5px;
  width: 150px;
  border: 0.1px solid rgb(205, 202, 202) ;
}

.add-btn {
  cursor: pointer;
  padding: 5px 12px;
  border: 0.1px solid rgb(205, 202, 202) ;
}